body{
    background-color: grey
    background-repeat no-repeat;
    background-position: center;
    background: size 30%;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.inav{
    float:left;
}
li.linav a{
    display: block;
    color:rgb(168, 160, 160);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a{
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.inav{
    float:left;
}
li.linav a{
    display: block;
    color:rgb(168, 160, 160);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
span.subtitle{
    font-size: 10pt;
    color: #3f75a7;
    font-family: verdana;
}
span.maintitle{
    font-size: 20pt;
    color: #3f75a7;
    font-family: verdana;  
}
#page_wrapper{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px #333333;
    padding: 10px;
    height: 700px;
    width: 1400px;
    background: #ffffff;
}
p.p_content1{
    font-size: 12 pt;
    color: black;
    font-family: verdana;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #333333; 
}
div.text-box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(150, 146, 146, 0.8);
}
