
li.inav{
    float:left;
}
li.inav{
    float:left;
}
span.subtitle{
    font-size: 20pt;
    color: #8080ff;
    font-family: georgia;
}
span.maintitle{
    font-size: 25pt;
    color: #8080ff;
    font-family: georgia;  
}
#page_wrapper{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px #333333;
    padding: 10px;
    height: 700px;
    width: 1400px;
    background: #ffffff;
}
p.p_content1{
    font-size: 16 pt;
    color: black;
    font-family: verdana;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #333333; 
}
div.text-box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(150, 146, 146, 0.8);
}
h1{
    background-image:url("images/stars.jfif");
    color: whitesmoke;
}
#index:hover{
    font-size: 15pt;
    font-family: comic sans;
    text-decoration: none;
    color: #00cccc;
}
#spo_Link{
    font-size: 14pt;
    font-family: comic sans;
    text-decoration: none;
    color: #6666ff;
}
#spo_link:hover{
    font-size: 18pt;
    font-family: comic sans;
    text-decoration: none;
    color: #47d147;
}
#DACC_Link{
    font-size: 14pt;
    font-family: comic sans;
    text-decoration: none;
    color: #66b3ff;
}
#DACC_link:hover{
    font-size: 18pt;
    font-family: comic sans;
    text-decoration: none;
    color: #47d147;
}

#OOHS_Link{
    font-size: 14pt;
    font-family: comic sans;
    text-decoration: none;
    color: #ff751a;
}
#OOHS_link:hover{
    font-size: 18pt;
    font-family: comic sans;
    text-decoration: none;
    color: #3366ff;
}
